html{
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

.nav{
    display: flex;
    justify-content: flex-end;
    flex-flow: row nowrap;
    background: #FFC300;
}
.nav a{
    display: block;
    padding: 1em;
    
    color: black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-decoration: none;
}
.nav a:hover{
    background: #FFB300;
    /* background-blend-mode: darken; */
}

body{
    background-image: url("assets/bananas.png");
    background-repeat: repeat;
    
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
}

.container{
    max-width: 940px;
    padding: 0px 10px;
    border: 5px black solid;
    display: flex;
    justify-content: center;
}

/* .container > *{
    flex: 1 100%;
} */

.item{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}